.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  vertical-align: middle;
}

h1 {
  vertical-align: middle;
}

.App-header {
  background-color: #333357;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}