.App-header {
  margin: auto;
  width: 50%;
}

.search-section {
  margin: auto;
  width: 50%;
  padding-bottom: 1rem;
}

.column {
  float: left;
  margin: auto;
  padding-bottom: 1rem;
}

.facet-section {
  width: 25%;
}

.results-section {
  width: 50%;
}

.facet ul {
  text-align: left;
  padding-left: 10px;
}

.facet li{
  list-style: none;
}

.sort {
  display: flex;
}

.sort p {
  margin: 0;
}

.search-box input {
  min-width: 100%;
}

.query-section{
  padding-bottom: 20px;
}

.result-list ul{
  padding-left: 10px;
}

.result-list li{
  list-style: none;
}