.App-header {
  margin: auto;
  width: 50%;
}

.search-section {
  margin: auto;
  width: 50%;
  padding-bottom: 1rem;
}

.column {
  float: left;
  margin: auto;
  padding-bottom: 1rem;
}

.facet-section {
  width: 25%;
}

.results-section {
  width: 50%;
}